# Config for file_processing
TOPIC_SETTINGS = {
    'topic_name': 'my-topic-name'
}

MEDIA_TYPE = 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'

INBOX = 'my-bucket'

# Mapping column names
COLUMN_MAPPING = {
    'Column 1': 'column_one',
    'Column 2': 'column_two'
}

# Columns without personal data
COLUMNS_NONPII = [
    'column_one',
    'column_two'
]

# Columns to be hashed after renaming. If none, then COLUMNS_HASH should not be declared
COLUMNS_HASH = [
    'column_one,
    'column_two
]


# Original incomming file to be deleted from bucket by function when finished or 
# to be deleted automatically after rention period is passed
# If delete is True, original file is deleted after the function is finished
DELETE = False

# JSON_ELEMENTS is used when reading data from JSON where the top-level is an object instead
# of a list. The list containing the data to load is the value of an attribute of the top-level object.
# For example, setting JSON_ELEMENTS to rows, will load this JSON: {"rows": [{"field1": "value1"}] }
# If the JSON data top-level object is a list (like [{"field1": "value1"}]), then JSON_ELEMENTS should
# not be declared.
JSON_ELEMENTS = ['rows']

# If a column contains a string you partly want to remove, use REMOVE_CHAR_FROM_COLUMN. The key is 
# the column under attention and the value is the number of characters you want to cut of. For example
{'title': 10} will remove the last 10 characters for every string of the column 'title'. If no characters need
to be removed, the REMOVE_CHAR_FROM_COLUMN should not be declared
REMOVE_CHAR_FROM_COLUMN = {
    'column_name1': 10
}

# A list of columns to be normalized. If no columns need to be normalized, COLUMNS_NORMALIZE 
# should not be declared
COLUMNS_NORMALIZE = ['project']

# If we need to combine certain columns (string) into a unique key, use COLUMN_COMBINE as a dictionary. The key is
# is the new column name and the value is a list (minimum = 2) of columns to be combined. If the key already exists, this column will 
# be overwritten by the new combined string. It is possible to define more than one key, value pairs. If no column need
# to be combined, COLUMN_COMBINE should not be declared.
COLUMN_COMBINE = {
    'sleutel': ['sleutel', 'project']
}