# Config for file_processing
TOPIC_SETTINGS = {
    'topic_name': 'my-topic-name'
}
MEDIA_TYPE = 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'
INBOX = 'my-bucket'

# Mapping column names
COLUMN_MAPPING = {
    'Column 1': 'column_one',
    'Column 2': 'column_two'
}

# Columns without personal data
COLUMNS_NONPII = [
    'column_one',
    'column_two'
]
